* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 100%;
}
.registrationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register {
  padding: 15px;
  text-align: center;
}
.ButtonRegister {
  float: right;
}
.MainButtonBox {
  background-color: #c6ffc5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.MainButton {
  height: 75px;
  min-width: 200px;
}
.Card {
  padding-top: 50px;
  min-height: 100px;
  background-color: #c6ffc5;
}
.CardBlock {
  margin: 10px 10px 0 10px;
  padding: 20px;
  border-radius: 10px;
}
.CardImg {
  width: 100%;
}
.CardMainText {
  font-size: 20px;
  font-weight: 40px;
}
.firstBlock {
  background-color: #c6ffc5;
  min-height: 100px;
  padding: 2em 0 2em 0;
}
.OnlyImage  {

}
 .Image {
  width: 100%;
}
.BodyInCard {
  background-color: rgb(196, 196, 196);
}
.fontSizeTitle {
  font-size: 24px;
  margin-left: 10px;
}
.fontSizeBody {
  font-size: 16px;
}
.SecDiv {
  background-color: rgba(202, 138, 172, 0.58);
  padding-bottom: 50px;
}
.CardImage {
  height: 100px;
  width: 100px;
}
.CardSecBlock {
  margin: 40px 0 0 0;
}
.footer {
  height: 100px;
  background-color: aqua;
}