* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 100%;
}
.registrationCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.register {
  padding: 15px;
  text-align: center;
}
.ButtonRegister {
  float: right;
}
.MainButtonBox {
  background-color: #c6ffc5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.MainButton {
  height: 75px;
  min-width: 200px;
}
.Card {
  padding: 50px 0 30px 0;
  min-height: 100px;
  background-color: #c6ffc5;
}
.CardBlock {
  margin: 10px 10px 0 10px;
  padding: 20px;
  border-radius: 10px;
}
.CardImg {
  width: 100%;
}
.CardMainText {
  font-size: 20px;
  font-weight: 40px;
}
.OnlyImage  {
}
 .Image {
  width: 100%;
   border-radius: 50px;
   margin: 10% 0;
}
.BodyInCard {
  background-color: rgb(196, 196, 196);
}
.fontSizeTitle {
  font-size: 36px;
  margin-left: 10px;
}
.fontSizeBody {
  font-size: 16px;
}
.firstBlock {
  background-color: rgba(202, 149, 60, 0.58);
  min-height: 100px;
  padding: 2em 0 2em 0;
}
.SecDiv {
  background-color: rgba(202, 182, 132, 0.58);
  padding: 0 150px 50px 150px;
}
.ThirdDiv {
  background-color: rgba(202, 182, 132, 0.58);
  padding-bottom: 50px;
}
.FourDiv {
  background-color: rgba(202, 182, 132, 0.58);
  padding-bottom: 50px;

}
.ProjectManDiv {
  border-radius: 90px;
  padding-bottom: 40px;
  background-color: rgba(202, 84, 156, 0.58);
}

.CardImage {
  height: 50%;
  width: 50%;
}
.CardSecBlock {
  margin: 40px 0 0 0;
}
.footer {
  height: 100px;
  background-color: aqua;
}